*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh !important;
  background: steelblue;
  padding: 20px;
  overflow-y: hidden;
}

.tablero {
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  background-image: url("../img/destinos-naturaleza.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  gap: 20px;
}

.tablero__lista {
  flex: none;
  width: 100%;
  max-width: 300px;
  height: 100%;
  padding: 10px;
  background: rgba(216, 216, 216, 0.935);
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}

.titulo__lista {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: #000;
  font-weight: bold;
  font-size: 20px;
  pointer-events: none;
  user-select: none;
}

.titulo__lista input,
.titulo__lista p {
  width: 100%;
  background: inherit;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-size: 20px;
}

.titulo__lista input:focus {
  background: #fff;
  outline: none;
}

.tareas {
  overflow-y: scroll;
  height: 450px;
  display: flex;
  flex-direction: column;
}

.tarea {
  padding: 10px 15px;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 4px #0002;
  cursor: grab;
  position: relative;
}

.tarea:active {
  cursor: grabbing;
}

.titulo__tarea {
  background: #fff;
  border: none;
  font-size: 22px;
  margin-bottom: 20px;
}

.descripcion__tarea {
  width: 100% !important;
  background: #fff;
  border: none;
  font-size: 18px;
}

.add__tarea {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.add__tarea button {
  width: 100%;
  font-size: 18px;
  padding: 15px;
  background: rgba(216, 216, 216, 0.935);
  color: #0009;
  border: none;
  cursor: pointer;
}

.add__tarea button:hover {
  background: #ddd;
  color: #000;
}

.btn-guardar {
  background: rgb(63, 144, 242);
  color: #fff;
  border: none;
  padding: 5px;
  cursor: pointer;
}

button.close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 2px 4px;
}